
Dental_Clinic/bin/Debug/Dental_Clinic.exe
Dental_Clinic.v11.suo
Dental_Clinic/bin/Debug/Dental_Clinic.exe
Dental_Clinic/Container.Designer.cs
Dental_Clinic/bin/Debug/Dental_Clinic.pdb
Dental_Clinic/Container.Designer.cs
Dental_Clinic/bin/Debug/Dental_Clinic.pdb
Dental_Clinic/bin/Debug/Dental_Clinic.pdb
Dental_Clinic/bin/Debug/Dental_Clinic.exe
Dental_Clinic.v11.suo
